<div class="container-fluid">
  <div class ="row">
    <h3>Display All Task</h3>
    <div class="card">
      <ul class ="list-group" style="list-style-type:none">
        <% @tasks.each do |task| %>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="1" name=>
          <%= link_to task.title, task_path(task) %>
          
          <%= link_to "Delete",
            task_path(@tasks),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete this task"}
          %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= link_to "+ Add a new task", tasks_new_path %>
</div>
